{% extends 'rbase.html' %}
{% block title %}Set a New Password{% endblock %}
{% block content %}
{% if validlink %}
<div class="container registration">
  <div class="container section-header">
    <h2>Set a new password</h2>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex justify-content-center my-4">
      <button class="btn btn-success" type="submit">Change password</button>
    </div>
  </form>
{% else %}
<div class="container registration">
  <div class="container section-header">
    <h2>Invalid link</h2>
  </div>
  <div class="d-flex justify-content-center my-5">
    <p>The password reset link was invalid, which could mean it has already been used. Please <a href="{% url 'password_reset' %}">request a new one</a>.</p>
  </div>
{% endif %}
{% endblock %}