{% extends 'rbase.html' %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="container registration">
  <div class="container section-header">
    <h2>Reset your password</h2>
  </div>
  <form method="post">
    {% csrf_token %}
    <p>Enter your email address, and we'll send an email with instructions to reset your password.</p>
    {{ form.as_p }}
    <div class="d-flex justify-content-center my-4">
      <button class="btn btn-success submit-btn" type="submit">Send email</button>
    </div>
  </form>
</div>
{% endblock %}