{% extends 'base.html' %}
{% block title %}Issue Details{% endblock %}
{% block content %}
{% if messages %}
<div class="container message-wrapper">
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<div class="container page-item-wrapper">
  <div class="container section-header">
    <h3>Issue #{{issue.num}} - {{issue.title}}</h3>
  </div>
  <div class="row form-group detail-row">
    <div class="col">
      <p class="attr-name">Description</p>
      <p>{{issue.description|linebreaks}}</p>
    </div>
  </div>
  <div class="row form-group detail-row">
    <div class="col">
      <p class="attr-name">Project</p>
      <p>{{issue.project.title}}</p>
    </div>
    <div class="col">
      <p class="attr-name">Submitter</p>
      <p>{{issue.submitter.username}}</p>
    </div>
  </div>
  <div class="row form-group detail-row">
    <div class="col">
      <p class="attr-name">Assignee</p>
      <p>{{issue.assignee.username}}</p>
    </div>
    <div class="col">
      <p class="attr-name">Status</p>
      <p>{{issue.get_status_display}}</p>
    </div>
  </div>
  <div class="row form-group detail-row">
    <div class="col">
      <p class="attr-name">Priority</p>
      <p>{{issue.get_priority_display}}</p>
    </div>
    <div class="col">
      <p class="attr-name">Type</p>
      <p>{{issue.get_issue_type_display}}</p>
    </div>
  </div>
  <div class="row form-group detail-row">
    <div class="col">
      <p class="attr-name">Date Created</p>
      <p>{{issue.date_created}}</p>
    </div>
    <div class="col">
      <p class="attr-name">Date Updated</p>
      <p>{{issue.date_updated}}</p>
    </div>
  </div>
  <div class="row form-group detail-row">
    <div class="col">
      <p class="attr-name">Date Closed</p>
      {% if issue.date_closed %}
      <p>{{issue.date_closed}}</p>
      {% else %}
      <p>---</p>
      {% endif %}
    </div>
    <div class="col">
      <p class="attr-name">Tag</p>
      <p>{{issue.tag}}</p>
    </div>
  </div>
  <div class="row form-group detail-row">
    <div class="col">
      <p class="attr-name">Attachment</p>
      {% if issue.attachment %}
      <p>{{issue.attachment}}</p>
      {% else %}
      <p>None</p>
      {% endif %}
    </div>
    <div class="col">
    </div>
  </div>
  <div class="container">
    <form action="{% url 'issues:issue-delete' project_slug=issue.project.slug issue_num=issue.num %}" method="POST">
      {% csrf_token %}
      <div class="btn-container d-flex justify-content-around">
        <a class="btn btn-success submit-btn"
          href="{% url 'issues:project-detail' slug=issue.project.slug %}">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
          </svg> Project details
        </a>
        <a class="btn btn-success submit-btn" href="{% url 'issues:issue-update' project_slug=issue.project.slug issue_num=issue.num %}">Edit details
        </a>
        <button class="btn btn-danger delete-btn" type="submit" onclick="return confirm('Click &quot;OK&quot; to delete this issue, or click &quot;Cancel&quot; to go back.');">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
          </svg>&nbsp;Delete issue
        </button>
      </div>
    </form>
  </div>
</div>
<div class="container page-item-wrapper">
  <div class="container section-header">
    <h3>Personnel Currently Assigned to Issue #{{issue.num}}</h3>
  </div>
  {% if issue_user_list %}
  <table class="table table-sm table-striped table-bordered" id="issue-assign-table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Group</th>
      </tr>
    </thead>
    <tbody>
      {% for user in issue_user_list %}
      <tr>
        <td class="align-middle">{{user.get_full_name}}</td>
        <td class="align-middle">{{user.username}}</td>
        <td class="align-middle">{{user.email}}</td>
        <td class="align-middle">{{user.groups.all.0.name}}</td>
      </tr>
      {% endfor %}
  </table>
  {% else %}
  <div class="empty-msg">
    <p class="empty-msg">There are currently no users assigned to this issue.</p>
  </div>
  {% endif %}
</div>
<div class="container page-item-wrapper" id="page-comment-section">
  <div class="container section-header">
    <h3>Comments</h3>
  </div>
  <div class="d-flex justify-content-center">
    <form id="top-comment-form">
      {% csrf_token %}
      <p>{{comment_form.text}}</p> 
      <p>{{comment_form.text.errors}}</p>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" id="comment-create-btn">Submit comment</button>
      </div>
      
    </form>
  </div>
  <div class="container comment-chain-container">
    {% for comment in comments %}
    <div class="comment-container">
      <form method="POST" id="comment-form-{{comment.id}}">
        {% csrf_token %}
        <div class="comment-text-container" id="comment-container-{{comment.id}}">
          <p class="comment" id="comment-{{comment.id}}">{{comment.text|linebreaks}}</p>
        </div>
        <p>Commented by {{comment.author}} on {{comment.date_created|date:"M j, Y"}}</p>
        <input type="hidden" name="comment-id" value={{comment.id}}>
        {% if comment.author == user or user.groups.all.0.name in 'Admin,Project Manager' %}
        <div class="comment-btn-container">
          <input type="button" class="mx-3" id="edit-comment-btn-{{comment.id}}" value="Edit" onclick="toggle_comment_edit({{comment.id}}, '{{comment.text|escapejs}}')"></input>
          <input type="button" class="mx-3" value="Delete" onclick="delete_comment({{comment.id}})"></input>
          <input type="button" class="mx-3" id="comment-edit-submit-{{comment.id}}" value="Save changes" hidden onclick="update_comment({{comment.id}})"></input>
        </div>
        {% endif %}
      </form>
    </div>
    {% for reply_set in replies %}
    {% for reply in reply_set %}
    {% if reply.comment == comment %}
    <div class="comment-container reply-container">
      <form class="reply-form" id="reply-form-{{reply.id}}">
        {% csrf_token %}
        <div class="comment-text-container" id="reply-container-{{reply.id}}">
          <p class="comment" id="reply-{{reply.id}}">{{reply.text|linebreaks}}</p>
        </div>
        <p>Commented by {{reply.author}} on {{reply.date_created|date:"M j, Y"}}</p>
        <input type="hidden" name="reply-id" value={{reply.id}}>
        {% if reply.author == user or user.groups.all.0.name in 'Admin,Project Manager' %}
        <div class="comment-btn-container">
          <input type="button" class="mx-3" id="edit-reply-btn-{{reply.id}}" value="Edit"
            onclick="toggle_reply_edit({{reply.id}}, '{{reply.text|escapejs}}')"></input>
          <input type="button" class="mx-3" value="Delete" onclick="delete_reply({{reply.id}})"></input>
          <input type="button" class="mx-3" id="reply-edit-submit-{{reply.id}}" value="Save changes" hidden
                      onclick="update_reply({{reply.id}})"></button>
        </div>
        {% endif %}
      </form>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <form class="new-reply-form" id="new-reply-form-{{comment.id}}">
      {% csrf_token %}
      <p>{{reply_form.text}}</p>
      <p>{{reply_form.text.errors}}</p>
      <input type="hidden" name="comment-id" value="{{comment.id}}">
      <div class="reply-btn-container">
        <button type="submit" class="btn btn-primary" id="reply-create-btn">Submit reply</button>
      </div>
    </form>
    <div class="d-flex justify-content-center mb-5">
      <button class="btn btn-primary" id="reply-toggle-{{comment.id}}" onclick="toggle_reply_form({{comment.id}})">Leave a reply</button>
    </div>
    {% empty %}
    <div class="empty-msg">
      <p class="empty-msg">No comments yet.</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  // Send an ajax request to create and display a new comment.
  $("#top-comment-form").submit(function (event) {
    // Prevent the page from reloading and performing the default actions.
    event.preventDefault();
    // Create a POST ajax call
    $.ajax({
      type: "POST",
      url: "{% url 'issues:comment-create' project_slug=issue.project.slug issue_num=issue.num %}",
      data: $("#top-comment-form").serialize(),
      success: function (response) {
        console.log(response)
        // Clear the form and reload to display the new comment
        $("#top-comment-form").trigger("reset");
        location.reload();
      },
      error: function (response) {
        alert(response["error"]);
      }
    })
  });

  // Send ajax request to update a comment.
  function update_comment(id) {
    $.ajax({
      type: "POST",
      url: "{% url 'issues:comment-update' project_slug=issue.project.slug issue_num=issue.num %}",
      data: $("#comment-form-" + id).serialize(),
      success: function () {
        $('#comment-form-' + id).trigger("reset");
        location.reload();
      },
      error: function (response) {
        alert(response["error"]);
      }
    })
  };

  // Send ajax request to create and display a new reply.
  $(".new-reply-form").submit(function (event) {
    // Prevent the page from reloading and performing the default actions.
    event.preventDefault();
    // Create a POST ajax call
    $.ajax({
      type: "POST",
      url: "{% url 'issues:reply-create' project_slug=issue.project.slug issue_num=issue.num %}",
      data: $(this).serialize(),
      success: function () {
        // Clear the form and reload to display the new reply.
        $(".new-reply-form").trigger("reset");
        location.reload();
      },
      error: function (response) {
        alert(response["error"]);
      }
    })
  });

  // Send ajax request to update a reply.
  function update_reply(id) {
    $.ajax({
      type: "POST",
      url: "{% url 'issues:reply-update' project_slug=issue.project.slug issue_num=issue.num %}",
      data: $("#reply-form-" + id).serialize(),
      success: function () {
        $("#reply-form-" + id).trigger("reset");
        location.reload();
      },
      error: function (response) {
        alert(response["error"]);
      }
    })
  };

  // Send ajax request to delete a comment given its id.
  function delete_comment(id) {
    var con = confirm("Click 'OK' to delete this comment, or click 'Cancel' to go back.");
    if (con == false) {
      return false
    }
    $.ajax({
      type: "POST",
      url: "{% url 'issues:comment-delete' project_slug=issue.project.slug issue_num=issue.num %}",
      data: $("#comment-form-" + id).serialize(),
      success: function () {
        location.reload();
      },
      error: function (response) {
        alert(response["error"]);
      }
    })
  };

  // Send ajax request to delete a reply given its id.
  function delete_reply(id) {
    var con = confirm("Click 'OK' to delete this comment, or click 'Cancel' to go back.");
    if (con == false) {
      return false
    }
    $.ajax({
      type: "POST",
      url: "{% url 'issues:reply-delete' project_slug=issue.project.slug issue_num=issue.num %}",
      data: $("#reply-form-" + id).serialize(),
      success: function () {
        location.reload();
      },
      error: function (response) {
        alert(response["error"]);
      }
    })
  };

  // Toggle display a form for creating a new reply.
  function toggle_reply_form(id) {
    $("#new-reply-form-" + id).toggle();
    var button = $("div button#reply-toggle-" + id)
    if ($("div button#reply-toggle-" + id).html() == "Leave a reply") {
      $("div.reply-btn-container").append(button)
      $("div button#reply-toggle-" + id).html("Cancel");
    } else {
      $("div.reply-btn-container").html("Leave a reply");
      location.reload();
    }
  };

  // Toggle a form and submit button for editing a comment.
  function toggle_comment_edit(id, comment_text) {
    var action = $("#edit-comment-btn-" + id).attr("value");
    if (action == "Edit") {
      console.log($("#comment-" + id).attr("id"))
      $("div#comment-container-" + id).replaceWith('<div class="comment-text-container"><textarea id="comment-edit-' + id + '" cols="70" rows="10" name="updated-text"></textarea></div>');
      $("textarea#comment-edit-" + id).html(comment_text);
      $("#edit-comment-btn-" + id).attr("value", "Cancel");
      $("#comment-edit-submit-" + id).removeAttr("hidden");
      
    }
    else {
      location.reload();
    }
  };

  // Toggle a form and submit button for editing a reply.
  function toggle_reply_edit(id, reply_text) {
    var action = $("#edit-reply-btn-" + id).attr("value");
    if (action == "Edit") {
      $("div#reply-container-" + id).replaceWith('<div class="comment-text-container"><textarea id="reply-edit-' + id + '" cols="70" rows="10" name="updated-text"></textarea></div>');
      $("textarea#reply-edit-" + id).html(reply_text);
      $("#edit-reply-btn-" + id).attr("value", "Cancel");
      $('#reply-edit-submit-' + id).removeAttr('hidden')
    }
    else {
      location.reload();
    }
  };
</script>
{% endblock %}
