{% extends 'base.html' %}
{% block title %}Change User Password{% endblock %}
{% block content %}
<div class="container page-item-wrapper">
  <div class="container section-header">
    <h3>Change password</h3>
  </div>
  <form action="{% url 'issues:password-update' username=user_obj.username type=user_type%}" method="POST">
    {% csrf_token %}
    {% if user_type == 'admin' %}
    <p>Enter the new password for {{user_obj.username}}.</p>
    {% else %}
    <p>Enter your new password.</p>
    {% endif %}
    <div class="my-5">
      {{form.password.label}} {{form.password}} {{form.password.help_text|safe}} {{form.password.errors}}
    </div>
    <div class="my-5">
      {{form.confirm_password.label}} {{form.confirm_password}} {{form.confirm_password.errors}}
    </div>
    <div class="btn-container d-flex justify-content-center">
      <button class="btn btn-success submit-btn" id="save-user-btn" type="submit">Update password</button>
    </div>
  </form>
{% endblock %}
